/.vs/
Debug/
/x64
TrenchTactics/TrenchTactics.*
TrenchTactics.sln
TrenchTactics.vcxproj
TrenchTactics.vcxproj.filters
TrenchTactics.vcxproj.user
*.log
TrenchTactics/.vs/

TrenchTactics_Test.sln
TrenchTactics_Test.vcxpro
TrenchTactics_Test.vcxproj.filters
TrenchTactics_Test.vcxproj.user
TrenchTactics_Test/.vs/
TrenchTactics_Test/Debug/
TrenchTactics_Test/x64/

